@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

:root{
  /* Background Color */
  --primary-color:#1A1A1A;
  --secondary-color:#BDC3C7;

  /* text color */
  --primary-font: 'Poppins', sans-serif;
  --primary-text: #333333;
  --secondary-text:#666666;
}

body{
  font-family: var(--primary-font);
  background-color: var(--primary-color);
   color:#BDC3C7;

}
a{
  text-decoration: none;
}

::-webkit-scrollbar{
  width:6px;
}

::-webkit-scrollbar-thumb{
  background: var(--primary-color);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin:0;
}

section{
  padding:50px 0;
}
.main-btn{
  display:inline-block;
  border-radius: 50px;
  transition: all .4s ease-in-out;
  padding:10px 27px;
  background-color: transparent;
  border:2px solid #fff;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}
.main-btn:hover{
  background-color: var(--secondary-color);
  border: none;
  color:black;
}
h1{
  font-size:54px;
  line-height: 68px;
  font-weight: 800;
  color:#BDC3C7;
  margin-bottom: 20px;
}
h1 span{
  color:white;
}
h2{
  font-size:50px;
  line-height: 1.3rem;
  font-weight: 800;
  color:#BDC3C7;
  margin-bottom: 15px;

}
h3{
  font-size:20px;
   font-weight: 600;
  color:#BDC3C7;
  margin-bottom: 19px;

}
h6{
  font-size:15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display:block;
  color:#BDC3C7;
  margin-bottom: 20px;

}
p{
  color:var(--secondary-text);
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}
.subtitle{
  display:inline-block;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height:18px;
  font-size: 16px;
  margin-bottom:12px;
  background-color: var(--primary-text);
  -webkit-background-clip: text;
  -webkit-animation-fill-color: transparent;
}
input:hover,
input:focus,
textarea:focus,
textarea:hover,
button{
  outline:none !important;
  box-shadow: none !important;
}


/* Navbar */
.header_wrapper .navbar{
  padding:15px 0;
  -webkit-transition:all .2s linear ;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.header_wrapper .navbar-brand img{
  max-width: 120px;
  height: auto;
}
.header_wrapper .navbar-toggler{
  color:#fff;
}
.header_wrapper .nav-item{
  margin:0 10px;
}
.header_wrapper .nav-item .nav-link{
  position:relative;
  font-size: 16px;
  font-weight: 500;
  color:white;
  display:inline-block;

}
.header_wrapper .nav-item .nav-link::after{
  position: absolute;
  content:'';
  left:0;
  width:0;
  height:2px;
  background: #fff;
  transition: 0.3s;
  bottom:0;
}

.header_wrapper .nav-item .nav-link.active::after,
.header_wrapper .nav-item .nav-link:hover:after{
  width: 100%;
}
.header_wrapper .nav-item .nav-link.active::after,
.header_wrapper .nav-item .nav-link:hover:after{
  color:white;
}
.header-scrolled{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  background-color: #333333;
  -webkit-box-shadow:0 4px 6px black;
  box-shadow: 0 4px 6px #333333;

}
.header_scrolled .nav-item .nav-link.active::after,
.header_scrolled .nav-item .nav-link:hover:after{
  color:white;
}
/* Banner */


.banner_wrapper{
  width: 100%;
  height:auto;
  min-height: 800px;
  background-image: url('../images/hero.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 200px 0 100px 0;
  

}
/*About */
.about_wrapper ul.nav-pills{
  border:1px solid var(--secondary-color);
  border-radius:50px;
}
.about_wrapper ul li .nav-link{
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.4s cubic-bezier(0,0,0.2,1);
  display:inline-block ;
  color: var(--secondary-color);
  border: 0;
}
.about_wrapper ul li .nav-link.active{
  background-color:#BDC3C7;
  color:#1A1A1A;
}
.about_wrapper .single-progress{
  margin-top: 26px;
  position: relative;
  overflow: hidden;
}
.about_wrapper .single-progress .progress{
  height:4px;
  border-radius: 4px;
  box-shadow: none;
  background-color: #BDC3C7;
  overflow: visible;
}
.about_wrapper .single-progress .progress .progress-bar{
  background-image: radial-gradient(pink,olive);
}
.about_wrapper .single-progress h6{
  text-align: left;
}
.about_wrapper .single-progress .label{
  position: absolute;
  right: 0;
  top: 0;
  color:#BDC3C7;
  font-size: 15px;
}
.about_wrapper .tab-pane li{
  color:#BDC3C7;
  margin-bottom:15px ;
  font-weight: 300;
  list-style: none;

}
.about_wrapper .tab-pane li a{
  font-weight: 500;
  display: block;
  color:#BDC3C7;

}

/* Portfolio */
.portfolio_wrapper .card{
  height:100%;
  min-height: 350px;
  overflow: hidden;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  box-shadow: 0 0 16px 4px #666666;

}
.portfolio_wrapper .card span{
  transition: background-position 4s ease-in-out 0s;
  width:100%;
  height: 100%;
  background-position: top center;
  background-size: cover;
}
.portfolio_wrapper .card:hover span{
  background-position: bottom center;
}
/*Contact Us*/
.contact_wrapper .form-control,
.contact_wrapper textarea{
  background-color: transparent;
  border-color: var(--secondary-color);
  color:#fff;
  font-size: 15px;
  font-weight: 400;
  padding:10px 20px;
}
.contact_wrapper .form-control:hover,
.contact_wrapper textarea:hover,
.contact_wrapper .form-control:focus,
.contact_wrapper textarea:focus{
  border-color: #fff;
}
.contact_wrapper .call_details{
  color:var(--secondary-color);
}
.contact_wrapper .call_details a{
  color: #BDC3C7;
  font-weight: 700;
}
.contact_wrapper img{
  border-radius: 15px;
  opacity: 70%;
}
/* footer */

.footer_wrapper{
  background-color:#000;
  padding: 20px;

}
.footer_wrapper .social-icon li{
  margin:8px;
}
.footer_wrapper .social-icon a{
  width:35px;
  height:35px;
  line-height: 30px;
  font-size: 14px;
  display: inline-block;
  border: 2px solid #666666;
  color: #666666;
  text-align: center;
  border-radius: 100%;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media(max-width:991px){
  section{
    padding:30px 0
  }
  h2{
    font-size: 30px;
    line-height: 40px;
  }
  h3{
    font-size:20px;

  }


}


@media(max-width: 767px){
  h1{
    font-size: 40px;
    line-height:48px;
  }
  h2{
    font-size: 25px;
  }
  p{
    font-size: 13px;
    line-height: 24px;
  }
}